<div class="row">
    <div class="col-md-6">
      <a routerLink="/tasks" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To All Tasks
    </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Edit Task
    </div>
    <div class="card-body">
      <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
        <div class="form-group">
          <label for="title">Title</label>
          <input 
            type="text"
            class="form-control"
            name="title"
            #taskTitle="ngModel"
            [ngClass]="{ 'is-invalid':taskTitle.errors && taskTitle.touched }"
            [(ngModel)]="task.title"
            minlength="2"
            required
          >
          <div [hidden]="!task.title.errors?.required" class="invalid-feedback">
              Title required
          </div>
          <div [hidden]="!task.title.errors?.minlength" class="invalid-feedback">
              Must be at least 2 characters
          </div>
        </div>
  
        <div class="form-group">
            <label for="content">Content</label>
            <input 
              type="text"
              class="form-control"
              name="content"
              #taskContent="ngModel"
              [ngClass]="{ 'is-invalid':taskContent.errors && taskContent.touched }"
              [(ngModel)]="task.content"
              minlength="2"
              required
            >
            <div [hidden]="!taskContent.errors?.required" class="invalid-feedback">
                Content required
            </div>
            <div [hidden]="!taskContent.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
            </div>
          </div>
  
              
              <input type="submit" value="Save" class="btn btn-primary btn-block">
  
      </form>
  
      
    </div>
  </div>
  