<div class="jumbotron text-center">
<h1 class="display-3">{{title}}</h1>
<p class="lead">This is a Node/Express App page</p>
<p class="lead">Website Version: {{version}}</p>
<p class="lead">Running on port: {{port}}</p>

</div>