* {
    margin: 0;
    padding: 0;
}

header {
    background-color: dodgerblue;
    padding: 25px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

h1 {
    padding: 10px;
    text-align: center;
}