<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">

  <script src="../client/node_modules/core-js/client/shim.min.js"></script>
  <script src="../client/node_modules/zone.js/dist/zone.js"></script>
  <script src="../client/node_modules/reflect-metadata/Reflect.js"></script>
  <script src="../client/node_modules/systemjs/dist/system.src.js"></script>

  <script src="../client/node_modules/core-js/es7/systemjs.config.js"></script>
  <script>
  System.import('app').catch(function(err){ console.error(err); });
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>

  <app-root></app-root>
</body>
</html>